@model Shop.WebUI.ViewModels.GoodsFind.ByFilterViewModel

@foreach (var item in Model.ListGoodInfos)
{
    // TODO: Rename data attribute.
    <div class="card mb-3">
        <img src="@item.PhotoPath" alt="No image" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-title">@item.GoodName</h5>
            <a href="#" class="btn btn-success btn-cmd-add mt-2" data-goodid="@item.GoodId">Add to Cart</a>
        </div>
    </div>
}